#control_wrap {
  position: fixed;
  bottom: 0;
  left: 960px;
  cursor: pointer;
}

#control_center_wrap {
  width: 465px;
  height: 465px;
  position: fixed;
  bottom: -232.5px;
  left: 727.5px;
  background: url("../images/control/control_in.png") center center no-repeat;
}

#control_center_out {
  width: 465px;
  height: 465px;
  transform-origin: center;
  animation-fill-mode: forwards;
  animation: rotate 10s linear infinite;
  animation-play-state: paused;
}

#control_center_out.hasAnimate {
  animation-play-state: running;
}

@keyframes rotate {
  0%,
  100% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#route_wrap,
#population_wrap {
  width: 203px;
  height: 203px;
  position: absolute;
  left: 0;
  top: 0;
  background: url("../images/control/route_noSelect.png") center center no-repeat;
  transform-origin: left top;
  transform: scale(0);
}

#route_wrap.select {
  background-image: url("../images/control/route_select.png");
}

#population_wrap {
  background-image: url("../images/control/population_noSelect.png");
}

#population_wrap.select {
  background-image: url("../images/control/population_select.png");
}

#city_wrap,
#GDPMessage_wrap {
  width: 203px;
  height: 203px;
  position: absolute;
  right: 0;
  top: 0;
  background: url("../images/control/route_noSelect.png") center center no-repeat;
  transform-origin: right top;
  transform: scale(0);
}

#city_wrap {
  background-image: url("../images/control/city_noSelect.png");
}

#city_wrap.select {
  background-image: url("../images/control/city_select.png");
}

#GDPMessage_wrap.select {
  background-image: url("../images/control/GDP_select.png");
}

.control_item_title {
  text-align: center;
  position: absolute;
  top: -20px;
  left: 0;
  width: 203px;
  color: #48a35e;
  font-family: "LiHeiTi";
  font-size: 18px;
}

.control_item_wrap.select .control_item_title {
  color: #00fee4;
  font-size: 21px;
  top: -40px;
}

#control_rigth_wrap {
  position: fixed;
  right: 10px;
  top: 10px;
  display: flex;
  align-items: center;
}

#control_right_select_wrap {
  margin-left: 10px;
  width: 100px;
  height: 60px;
  display: flex;
  flex-direction: column;
}

.control_layer_select_item {
  width: 80px;
  height: 30px;
  line-height: 30px;
  color: rgb(52, 83, 145);
  padding-left: 30px;
  background: url("../images/control/map_noSelect.png") left center no-repeat;
  cursor: pointer;
}

.control_layer_select_item.select {
  color: rgb(14, 218, 237);
  background-image: url("../images/control/map_select.png");
}

#country_sidebar_wrap {
  width: 500px;
  height: 100%;
  position: fixed;
  right: 0;
  top: 0;
  background-color: rgba(25, 68, 74, 0.741);
  box-shadow: inset 0px 10px 26.73px 0.27px rgba(0, 255, 240, 0.65);
}

#side_wrap {
  right: -594px;
  position: fixed;
  height: 1080px;
  width: 638px;
  visibility: hidden;
}

#side_left {
  position: absolute;
  width: 44px;
  height: 1080px;
  left: 0;
  background: url("../images/control/side_left.png") center center no-repeat;
  cursor: pointer;
}

#side_left.hide {
  width: 0;
}

#side_top {
  position: absolute;
  left: 43px;
  top: 38px;
  width: 520px;
  height: 88px;
  background: url("../images/control/sidetop.png") center center no-repeat;
}

#side {
  position: absolute;
  top: 0;
  right: 0;
  height: 1080px;
  width: 594px;
  background-image: url("../images/control/side.png");
}

#side_btm {
  position: fixed;
  bottom: 10px;
  height: 60px;
}

#side_btm img {
  margin-left: 100px;
  cursor: pointer;
}

#sideWindow {
  position: fixed;
  left: 80px;
  bottom: 50px;
  height: 582px;
  width: 932px;
  visibility: hidden;
  background-image: url("../images/control/window.png");
}

#linebar_wrap {
  position: absolute;
  left: 41px;
  top: 164px;
  width: 523px;
  height: 336px;
}

#linebar_title {
  position: absolute;
  left: 61px;
  top: 173px;
  font-size: 24px;
  font-family: "LiHeiTi";
  color: rgb(1, 145, 134);
}

#radar_wrap {
  position: absolute;
  left: 41px;
  width: 523px;
  height: 445px;
  top: 540px;
}

#radar_title {
  position: absolute;
  left: 61px;
  top: 549px;
  font-size: 24px;
  font-family: "LiHeiTi";
  color: rgb(1, 145, 134);
}

.chart_content {
  width: 100%;
  height: 100%;
}

#videoContainer {
  width: 863px;
  height: 505px;
  margin-left: 36px;
  margin-top: 53px;
  background: black;
}