@font-face {
  font-family: 'liHeiTi';
  src: url("../font/zzgflht.otf");
}

#title {
  position: fixed;
  top: 20px;
  left: 25px;
  color: #23ffe3;
  font-family: 'liHeiTi';
  font-size: 36px;
  padding-left: 50px;
  background: url("../images/title-logo.png") left center no-repeat;
  background-size: 36px;
  text-shadow: none;
  z-index: 300;
}

.leftSubTitle {
  color: #23ffe3;
  font-size: 16px;
  display: inline-block;
  padding-left: 25px;
  border-left: 5px solid #23ffe3;
}

#countryList_wrap {
  position: fixed;
  top: 112px;
  left: 45px;
  width: 200px;
  height: 343px;
  z-index: 300;
}

#countryList_wrap #countryList {
  position: absolute;
  top: 42px;
  bottom: 0;
  width: 100%;
}

#countryList_wrap #countryList .list_item {
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#countryList_wrap #countryList .list_item .top5 {
  width: 5px;
  height: 5px;
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px solid rgb(226, 53, 23);
  flex-shrink: 0;
}

#countryList_wrap #countryList .list_item .top5.notShow {
  border-color: transparent;
}

#countryList_wrap #countryList .list_item .nationalFlag {
  width: 19px;
  height: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

#countryList_wrap #countryList .list_item .nationalFlag>img {
  max-width: 19px;
  max-height: 15px;
}

#countryList_wrap #countryList .list_item .name {
  color: #396d6d;
  font-size: 14px;
  flex-shrink: 0;
}

#countryList_wrap #countryList .list_item .value {
  color: #396d6d;
  font-size: 14px;
  width: 100px;
  flex-shrink: 0;
  text-align: right;
}

#engineeringType_wrap {
  position: fixed;
  top: 480px;
  left: 45px;
  width: 280px;
  height: 230px;
  z-index: 300;
}

#engineeringType_wrap #barChart_wrap {
  position: absolute;
  top: 42px;
  bottom: 0;
  width: 100%;
}

#engineeringType_wrap #barChart_wrap #barChart {
  width: 100%;
  height: 100%;
}

#people_wrap {
  position: fixed;
  top: 740px;
  left: 45px;
  width: 440px;
  height: 210px;
  z-index: 300;
}

#people_wrap #lineChart_wrap {
  position: absolute;
  top: 42px;
  bottom: 0;
  width: 100%;
}

#people_wrap #lineChart_wrap #lineChart {
  width: 100%;
  height: 100%;
}

#engineeringDetail_wrap {
  position: fixed;
  right: 30px;
  top: 300px;
  width: 320px;
  height: 630px;
  z-index: 300;
}

#engineeringDetail_wrap .leftSubTitle {
  font-size: 24px;
}

#engineeringDetail_wrap #engineering_wrap {
  position: absolute;
  top: 62px;
  bottom: 0;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

#engineeringDetail_wrap #engineering_wrap .hasBorder {
  width: 100%;
  height: 200px;
  box-sizing: border-box;
  border: 12px solid transparent;
  border-image: url("../images/thing-border.png") 24/18px repeat;
}

/* 设置滚动条的样式 */

#engineering_wrap::-webkit-scrollbar {
  width: 6px;
}


/* 滚动槽 */

#engineering_wrap::-webkit-scrollbar-track {
  background: rgba(30, 30, 30, 0.8);
  border-radius: 10px;
}


/* 滚动条滑块 */

#engineering_wrap::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #31e0e1;
}